<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org">
      
    <!--footerFragment 선언-->
    <div th:fragment="footerFragment">
    
    	<!-- Button trigger modal -->
	    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Launch demo modal</a>
	    <!-- Modal -->
	    <div class="modal fade" id="modalFrame" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
	                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
	                                <span aria-hidden="true">&times;</span>
	                            </a>
	                </div>
	                <div class="modal-body">
	                    <p>Woohoo, You are readng this text in a modal! Use Bootstrap’s JavaScript modal plugin to add dialogs to your site for lightboxes, user notifications, or completely custom content.</p>
	                </div>
	                <div class="modal-footer">
	                    <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
	                    <a href="#" class="btn btn-primary">Save changes</a>
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    
</html>