<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org">
      
    <!--footerFragment 선언-->
    <div th:fragment="footerFragment">
    	<!-- 비동기 통신 프레임 -->
    	<iframe id="actionFrame" name="actionFrame" class="hide"></iframe>
    		
	    <!-- Modal 팝업 프레임-->
	    <div class="modal fade hide" id="modalFrame" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title"></h5>
	                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
	                </div>
	                <div class="modal-body"></div>
	                <div class="modal-footer">
	                	<a href="#" class="btn btn-sm btn-primary modal-confirm">확인</a>
	                    <a href="#" class="btn btn-sm btn-light modal-close" data-dismiss="modal">닫기</a>	                    
	                </div>
	            </div>
	        </div>
	    </div>
	    
	    <!-- Form 팝업 프레임-->
	    <div class="modal fade hide" id="formFrame" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	        	<form class="temp-form">
		            <div class="modal-content">
		                <div class="modal-header">
		                    <h5 class="modal-title"></h5>
		                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
	                            <span aria-hidden="true">&times;</span>
	                        </a>
		                </div>
		                <div class="modal-body"></div>
		                <div class="modal-footer">
		                	<button type="submit" class="btn btn-sm btn-success modal-confirm">저장</button>
		                    <a href="#" class="btn btn-sm btn-light modal-close" data-dismiss="modal">취소</a>	                    
		                </div>
		            </div>
	            </form>
	        </div>
	    </div>
	    
	    <!-- Alert 팝업 프레임-->
	    <div class="modal fade hide" id="alertFrame" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog" role="document">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <h5 class="modal-title"><i class="fas fa-exclamation-circle"></i> 알림</h5>
	                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
	                </div>
	                <div class="modal-body"></div>
	                <div class="modal-footer">
	                    <a href="#" class="btn btn-sm btn-light modal-close" data-dismiss="modal">확인</a>	                    
	                </div>
	            </div>
	        </div>
	    </div>
    </div>
    
</html>