<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/data_table}">
    
    <div class="container-fluid  dashboard-content" layout:fragment="content">
		<!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">자산관리</h2>                    
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        
        <div class="row">
        	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        		<form id="modifyForm" method="post" action="/asset/modify" target="actionFrame" data-parsley-validate="">
	        	<div class="card">
	                <h5 class="card-header">자산수정</h5>
	                <div class="card-body">
                    	<input type="hidden" name="asset_seq" th:value="${assetData.asset_seq}">
                        <div class="form-group">
                            <label for="assetName" class="col-form-label">자산명</label>
                            <input id="assetName" type="text" class="form-control" name="asset_name" th:value="${assetData.asset_name}" required="required" >
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">연결된 양식</label>
                            <th:block th:if="${#lists.size(formList) > 0}">
				            <select class="form-control" name="link_seq" required="required">
				            	<th:block th:each="formData : ${formList}">
				                <option th:text="${formData.form_title}" th:value="${formData.form_seq}" th:attr="selected=${formData.form_seq} == ${assetData.link_seq} ? 'true' : 'false'"></option>
				                </th:block>                                
				            </select>
				            </th:block>
                        </div>
                        <div class="form-group">
                        	<label for="assetAmount" class="col-form-label">자산잔액</label>
                            <input id="assetAmount" type="number" class="form-control" name="amount" th:value="${assetData.amount}" required="required" >
                        </div>
                        <div class="form-group">
                        	<label class="col-form-label">메모</label>
                        	<textarea class="form-control" name="memo" th:text="${assetData.memo}"></textarea>
                        </div>
	                </div>
	                <div class="card-footer">
	                	<button type="submit" class="btn btn-primary">저장</button>
	                	<a href="/asset/list" class="btn btn-secondary">취소</a>
	                </div>
	            </div>
	            </form>
            </div>
        </div>
    </div>
</html>