<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/no_form}">

    <div class="row justify-content-center" layout:fragment="content">
        <div class="col-xl-6 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">비밀번호를 잊으셨나요?</h1>
                                    <p class="mb-4">가입 시 등록하신 이메일을 입력해 주세요.<br/>비밀번호를 재설정 할 수있는 링크를 보내드리겠습니다.</p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="이메일을 입력해주세요.">
                                    </div>
                                    <a href="login.html" class="btn btn-primary btn-user btn-block">
                                        비밀번호 재설정
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="join">새 계정 만들기</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="login">이미 계정이 있으신가요?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>